<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255218293352-duv0inls3pgfa3sgv6va7so90tf0uiv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255218293352-duv0inls3pgfa3sgv6va7so90tf0uiv3</string>
	<key>API_KEY</key>
	<string>AIzaSyC18CDmmgZwfggLWPD3k4wX17MnYoyVO4k</string>
	<key>GCM_SENDER_ID</key>
	<string>255218293352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gouldsgoons.TrackApplication</string>
	<key>PROJECT_ID</key>
	<string>runningapplication-8a96e</string>
	<key>STORAGE_BUCKET</key>
	<string>runningapplication-8a96e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255218293352:ios:9d382bccae3d824985f9dd</string>
</dict>
</plist>